*{
    margin: 0;
}
.fundo{
    text-align: center;  
    background-color: burlywood;
    heigth: 100vh;
}
.titulo{
    color: blueviolet ;
}

.paragrafo{
    font-family: Arial, Helvetica, sans-serif;
}
